<div>
  <style type="text/golf">
    form {
      width: 15em;
      text-align: right;
      margin: 0 auto;
    }
      form h3 {
        text-align: center;
      }
    .error, .notice {
      text-align: left;
      font-family: monospace;
      margin-bottom: .5em;
    }
    .error p, .notice p {
      line-height: 100%;
      padding: .5em;
      margin: 0;
    }
    .error {
      color: red;
      background: #fee;
      border: 1px solid red;
    }
    .notice {
      color: gold;
      background: #ffe;
      border: 1px solid gold;
    }
    span.uber {
      color: red;
    }
    span.mail {
      color: orange;
    }
  </style>

<script type="text/golf">#!coffee -np

( ->
  handlers: []

  @addHandler: ((hlr) ->
    handlers.push(hlr)
    return this
  )

  @notice: ((msg) ->
    $(".error").hide()
    $(".notice p").text(msg).parent().show()
    return this
  )

  @error: ((msg) ->
    $(".notice").hide()
    $(".error p").text(msg).parent().show()
    $("input[type='password']").select()
    $("input").removeAttr("disabled")
    return this
  )

  $(".error, .notice").hide()

  $(".login form").submit( =>
    @notice("Authenticating...")
    $("input").attr("disabled", "disabled")
    user: $("input[name='username']").val()
    pass: $("input[name='password']").val()
    $.each(handlers, (i,v) -> v(user, pass))
    $("input").removeAttr("disabled")
    return false
  )
)

</script>

  <div class="login">
    <form>
      <h3><span class="uber">imap</span><span class="mail">js</span></h3>
      <div class="notice"><p>Notice text</p></div>
      <div class="error"><p>Error text</p></div>
      Username: <input type="text" name="username"/><br />
      Password: <input type="password" name="password"/><br />
      <input type="submit" value="login"/>
    </form>
  </div>
</div>
