<div>
  <style type="text/golf">
    a.selected {
      color: orange;
      text-decoration: none;
    }
  </style>

<script type="text/golf">#!coffee -np

((imap) ->

  @select: ((box) ->
    imap.select(box, ( ->
      $(".folders a[href$='#/folder/"+box+"/']").addClass("selected")
    ))
  )

  imap.list((boxes) =>
    $.each(boxes, (i,v) =>
      link: $("<a href='#/folder/"+v.name+"/'>"+v.name+"</a>")
      $(".folders tbody").append($("<tr/>").append($("<td/>").append(link)))
    )
  )
)

</script>

  <table class="main">
    <tr>
      <td class="left">
        <table class="folders">
          <tr><td><a href="javascript:void()">Compose</a></td></tr>
        </table>
      </td>
      <td class="right">
      </td>
    </tr>
  </table>
